<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Alchemy Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <div class="toolbar">
      <label for="sort-select">
        Sort by
      </label>
      <select id="sort-select" class="sort-dropdown">
        <option value="title" {% if sort == "title" %}selected{% endif %}>Title</option>
        <option value="author" {% if sort == "author" %}selected{% endif %}>Author</option>
      </select>
    </div>

    <div class="book-grid">
      {% for book in books %}
        <div class="book_card">
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="{{ book.title }} cover" class="book-cover" />
          <p class="book-title">{{ book.title }}</p>
          <p class="book-author">{{ book.author.name }}</p>
        </div>
      {% endfor %}

  </div>
  <script>
    document.getElementById('sort-select').addEventListener('change', function() {
      window.location.href = '/?sort=' + this.value;
    });
  </script>
  </body>
</html>
